/*Set default Font family of all elements*/
* {
  font-family: 'Roboto', sans-serif;
}

h1,
h2 {
font-family: 'Montserrat', sans-serif;
}

#landing{
  height: 80vh;
}

img{
  height: 250px
  width: 250px;
}

#gallery{
  /*center all elements vertically*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh; /*75% on available height of a device*/
  border-radius: 6px;
}

ul{
  list-style: none;
  padding: 0;
}

h2{
color: #007bff;
}

.tools{
  padding: 25px;
  height: 200px;
  border: 5px solid #cc99ff;
  margin: 20px;
  width: 75%;
  color: white;
}

html{
  scroll-behavior: smooth;
}